.App {
  font-family: sans-serif;
  text-align: center;
}
/* 

.icon {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
} */

.icon2 {
  position: absolute;
  right: 8px;
  top: 0px;
  text-align: center;
  line-height: 2.5;
  font-size: 1rem;
  color: #644bff;
  cursor: pointer;
}

.search-bar-container {
  width: 100%;
  margin: 0 auto;
  height: 52px;
  position: relative;
  cursor: pointer;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: none;
}
/* .search-bar {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
} */
/* .search-bar:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.search-bar-icon {
  position: absolute;
  left: 12px;
  top: 16px;
  font-size: 22px;
  color: #ac0a0ad1;
}
.line-height-1 {
  line-height: 1;
} */
.search-result {
  position: absolute;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
}
/* .list-group-item {
  cursor: pointer;
}
.list-group-item.active,
.list-group-item:hover {
  background-color: #e1e3e5;
  border-color: #d3d5d7;
} */

/* .visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
} */
